<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.petrol.mapper.AnalysisTaskMapper">
    
    <resultMap type="com.ruoyi.petrol.domain.AnalysisTask" id="AnalysisTaskResult">
        <result property="id"    column="id"    />
        <result property="taskName"    column="task_name"    />
        <result property="algorithm"    column="algorithm"    />
        <result property="status"    column="status"    />
        <result property="progress"    column="progress"    />

        <result property="inputFilePath"    column="input_file_path"    />
        <result property="inputParamsJson"    column="parameters_json"    />
        <result property="inputFileHeadersJson"    column="input_file_headers_json"    />
        <result property="datasetId"    column="dataset_id"    />
        <result property="outputDirPath"    column="output_dir_path"    />
        <result property="resultsJson"    column="results_json"    />
        <result property="errorMessage"    column="error_message"    />
        <result property="executionTime"    column="execution_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAnalysisTaskVo">
        select id, task_name, status, algorithm, progress, input_file_path, parameters_json, input_file_headers_json, dataset_id, output_dir_path, results_json, error_message, execution_time, created_by as create_by, create_time, update_time from pt_analysis_task
    </sql>

    <select id="selectAnalysisTaskList" parameterType="AnalysisTask" resultMap="AnalysisTaskResult">
        <include refid="selectAnalysisTaskVo"/>
        <where>  
            <if test="taskName != null  and taskName != ''"> and task_name like concat('%', #{taskName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="algorithm != null  and algorithm != ''"> and algorithm = #{algorithm}</if>
        </where>
    </select>
    
    <select id="selectAnalysisTaskById" parameterType="Long" resultMap="AnalysisTaskResult">
        <include refid="selectAnalysisTaskVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAnalysisTask" parameterType="AnalysisTask" useGeneratedKeys="true" keyProperty="id">
        insert into pt_analysis_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskName != null">task_name,</if>
            <if test="status != null">status,</if>
            <if test="progress != null">progress,</if>
            <if test="algorithm != null">algorithm,</if>

            <if test="inputFilePath != null">input_file_path,</if>

            <if test="inputParamsJson != null">parameters_json,</if>
            <if test="inputFileHeadersJson != null">input_file_headers_json,</if>
            <if test="datasetId != null">dataset_id,</if>
            <if test="outputDirPath != null">output_dir_path,</if>
            <if test="resultsJson != null">results_json,</if>
            <if test="errorMessage != null">error_message,</if>
            <if test="createBy != null">created_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskName != null">#{taskName},</if>
            <if test="status != null">#{status},</if>
            <if test="progress != null">#{progress},</if>
            <if test="algorithm != null">#{algorithm},</if>

            <if test="inputFilePath != null">#{inputFilePath},</if>

            <if test="inputParamsJson != null">#{inputParamsJson},</if>
            <if test="inputFileHeadersJson != null">#{inputFileHeadersJson},</if>
            <if test="datasetId != null">#{datasetId},</if>
            <if test="outputDirPath != null">#{outputDirPath},</if>
            <if test="resultsJson != null">#{resultsJson},</if>
            <if test="errorMessage != null">#{errorMessage},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAnalysisTask" parameterType="AnalysisTask">
        update pt_analysis_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskName != null">task_name = #{taskName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="progress != null">progress = #{progress},</if>
            <if test="algorithm != null">algorithm = #{algorithm},</if>

            <if test="inputFilePath != null">input_file_path = #{inputFilePath},</if>

            <if test="inputParamsJson != null">parameters_json = #{inputParamsJson},</if>
            <if test="inputFileHeadersJson != null">input_file_headers_json = #{inputFileHeadersJson},</if>
            <if test="outputDirPath != null">output_dir_path = #{outputDirPath},</if>
            <if test="resultsJson != null">results_json = #{resultsJson},</if>
            <if test="errorMessage != null">error_message = #{errorMessage},</if>
            <if test="createBy != null">created_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAnalysisTaskById" parameterType="Long">
        delete from pt_analysis_task where id = #{id}
    </delete>

    <delete id="deleteAnalysisTaskByIds" parameterType="String">
        delete from pt_analysis_task where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper> 